body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 10px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover,
a:link,
a:active {
  color: #ffbc9e;
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.logo-link img {
  margin-left: 5px;
  margin-top: 5px;
}

.h-navigation {
  line-height: 30px;
  list-style: none;
}

.h-navigation-items {
  list-style: none;
}

.h-navigation-items a {
  padding: 7px 15px;
  background-color: transparent;
  font-weight: 400;
  text-decoration: underline solid rgba(255,255,255,0.6);
  list-style: none;
}

.h-navigation-items a:hover {
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
  
}
.h-navigation-items a:active {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
  box-shadow: inset 0px 2px 2px #696969;
}

.catalog-items {
  display: none;
  box-sizing: border-box;
  list-style: none;
  padding: 0px;
  background-color: #f8f7f4;
  color: #323232;
  line-height: 30px;
  border-radius: 10px;
  box-shadow: 2px 10px 30px #323232;
}

.catalog-items a {
  display: inline-block;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f7f4;
  color: #323232;
}

.catalog-items li:hover a {
  font-weight: 400;
  background-color: #fbded7;
  color: #323232;
  line-height: 30px;
}

.catalog-items li:active a {
  font-weight: 400;
  background-color: #d07058;
  color: #ffffff;
  line-height: 30px;
  box-shadow: none;
}

.user-block {
  list-style: none;
}

.authorization {
  display: none;
  background-color: #f8f7f4;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

.search {
  display: none;
  background-color: #f8f7f4;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"] {
  margin: 5px 0px;
  padding: 15px;
  font-size: 14px;
  color: #999999;
  border-radius: 10px;
  border: 1px solid #d3d3d2;
  box-shadow: inset 0;
}

.entrance {
  margin-top: 10px;
}

.entrance span {
  display: content-box;
  background-color: rgba(248,247,244,0.3);
  background-image: url(../img/svg/entrance.svg);
  background-repeat: no-repeat;
  background-position: left;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 50px;
}

.entrance span:hover {
  display: content-box;
  background-color: rgba(248,247,244,1);
  background-image: url(../img/svg/entrance.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding: 5px 15px;
  color: #000000;
  border-radius: 20px;
}

.search-button {
  margin-bottom: 10px;
}

.search-button span {
  display: content-box;
  background-color: rgba(248,247,244,0.3);
  background-image: url(../img/svg/loupe.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.search-button span:hover {
  display: content-box;
  background-color: rgba(248,247,244,1);
  background-image: url(../img/svg/loupe.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.forgotten,
.registration {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline solid #323232;
}

.working-info {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}

.working-info a {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.working-info a:active {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

/* Начало стилизации слайдеров */

/* Стилизация блока с переключателями*/
.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  width: 100px;
}

/* Стилизуем фон для всей страницы при переключении слайдов */
.slide__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: -1;
}

.slide__background-1 {
  background-color: #849d8f;
}

.slide__background-2 {
  background-color: #8996a6;
}

.slide__background-3 {
  background-color: #9d8b84;
}

/* Скрываем input`ы, но оставляем доступными с клавиатуры */
.slider__control {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Стилизация label */
.slider__label {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
}

/* Стилизация самих слайдов */
.slide {
  display: none;
  min-width: 900px;
  margin: auto;
  margin-bottom: 35px;
}

.slide-1 {
  background-color: transparent;
}

.slide-2 {
  background-color: transparent;
}

.slide-3 {
  background-color: transparent;
}

.slide-title {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  margin: auto;
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  display: inline-block;
  padding: 10px 40px;
  border-radius: 100px; 
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
}

.slide-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  display: inline-block;
  padding: 10px 40px;
  border-radius: 100px; 
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
}

.slide-btn:active {
  background: linear-gradient(to bottom, #c63e2b 0%, #e1613e 100%);
  display: inline-block;
  padding: 10px 40px;
  border-radius: 100px; 
  box-shadow: 
  0 2px 2px rgba(172,16,0,.64), 
  inset 0px 2px 0px rgba(148,39,24,.64);
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
}

.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 900px;
  width: 1200px;
}


/* Стилизуем выбранный label для доступности с клавиатуры*/
.slider__control:focus + .slider__label {
  outline: 10px dashed purple;
}

/* Меняем стилизацию у label для выбранного input`a */

.slider__control-1:hover ~ .slider__controls .slider__label[for="control-1"],
.slider__control-2:hover ~ .slider__controls .slider__label[for="control-2"],
.slider__control-3:hover ~ .slider__controls .slider__label[for="control-3"]{
  background-color: rgba(255,255,255,0.6);
}

.slider__control-1:checked ~ .slider__controls .slider__label[for="control-1"],
.slider__control-2:checked ~ .slider__controls .slider__label[for="control-2"],
.slider__control-3:checked ~ .slider__controls .slider__label[for="control-3"]{
  background-color: #ffffff;
}

/* Меняем фон*/
.slider__control-1:checked ~ .slide__background-1,
.slider__control-2:checked ~ .slide__background-2,
.slider__control-3:checked ~ .slide__background-3 {
  display: block;
}

/* меняем слайд */
.slider__control-1:checked ~ .slides .slide-1,
.slider__control-2:checked ~ .slides .slide-2,
.slider__control-3:checked ~ .slides .slide-3 {
  display: block;
}


/* Конец стилизации слайдеров */

.btn {
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 100px; 
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  font-family: inherit;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 100px; 
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  font-family: inherit;
}

.btn:active {
  background: linear-gradient(to bottom, #c63e2b 0%, #e1613e 100%);
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 100px; 
  box-shadow: 0 2px 2px rgba(172,16,0,.64), 
  inset 0px 2px 0px rgba(148,39,24,.64);
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  font-family: inherit;
}

.shares .berry-promo {
  background-color: #7d4464;
  background-image: url("../img/rasp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  border: 0px;
  border-radius: 15px;
  width: 520px;
  height: 220px;
  padding: 10px 20px;
  margin-right: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 22px;
}

.shares .choco-promo {
  background-color: #2f150a;
  background-image: url("../img/chock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  border: 0px;
  border-radius: 15px;
  width: 520px;
  height: 220px;
  padding: 10px 20px;
  margin-left: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 22px;
}

.shares .caption {
  font-size: 35px;
  line-height: 30px;
}

.items {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  font-style: normal;
}

.item-price {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.item-price span {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.item-price:hover {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.item-price span:hover {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.items .ice-description {
  color: #ffffff;
  text-decoration: underline solid rgba(255,255,255,0.6);
}

.items .ice-description:hover {
  color: #ffbc9e;
  text-decoration: underline solid #ffbc9e;
}

.items .ice-description:active {
  color: #ffbc9e;
  text-decoration: underline solid #ffbc9e;
}

.items .item-creamy {
  display: inline-block;
  padding: 6px 14px 20px;
}

.items .item-coffee {
  display: inline-block;
  padding: 6px 14px 20px;
}

.items .item-strawberry {
  display: inline-block;
  padding: 6px 14px 20px;
}

.items .item-brulee {
  display: inline-block;
  padding: 6px 14px 20px;
}

.items .item-creamy:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  box-shadow: 0 2px 15px #656565;
}

.items .item-coffee:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  box-shadow: 0 2px 15px #656565;
}

.items .item-strawberry:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  box-shadow: 0 2px 15px #656565;
}

.items .item-brulee:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  box-shadow: 0 2px 15px #656565;
}

.items .view {
  margin: -1px;
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 100px; 
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  font-family: inherit;
}

.items .view:hover {
  margin: -1px;
  visibility: visible;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 100px; 
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  font-family: inherit;
}

.items .view:active {
  background: linear-gradient(to bottom, #c63e2b 0%, #e1613e 100%);
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 100px; 
  box-shadow: 
  0 2px 2px rgba(172,16,0,.64), 
  inset 0px 2px 0px rgba(148,39,24,.64);
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  font-family: inherit;
}

.item-creamy .view {
  display: none;
}

.item-creamy:hover .view {
  display: inline-block;
}

.item-coffee .view {
  display: none;
}

.item-coffee:hover .view {
  display: inline-block;
}

.item-strawberry .view {
  display: none;
}

.item-strawberry:hover .view {
  display: inline-block;
}

.item-brulee .view {
  display: none;
}

.item-brulee:hover .view {
  display: inline-block;
}

.advantages {
  margin: 10px;
  padding: 10px 20px;
  background: #ecdec4 url('../img/seoфон.png') repeat center;
  border-radius: 10px;
  color: #323232;
  text-align: justify;
}

.ice-shop {
  font-size: 20px;
  line-height: 24px;
}

.left-info-top {
  list-style: none;
}

.blog {
  box-sizing: content-box;
  width: 540px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  min-height: 200px;
  border-radius: 15px;
  background-color: #fee1ed;
  background-image: url(../img/blog.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #323232;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: normal;
  text-decoration: underline solid;
  font-weight: bold;
}

.blog a:hover, 
a:active {
  color: #323232;
  text-decoration: none;
}

.subscription {
  box-sizing: border-box;
  width: 560px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 200px;
  border-radius: 20px;
  background-color: #f8f7f4;
  padding: 15px 20px;
  color: #5a5a5a;
  border: 6px solid;
  border-image: url('../img/svg/bg-post.svg') 10 round round;
}

.subscription .subscribe-form {
  width: auto;
}

.contacts-info {
  box-sizing: border-box;
  width: 302px;
  padding: 30px 25px;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 10px;
}

.contacts-info .adress {
  font-size: 18px;
}

.contacts-info .telephone {
  font-size: 18px;
  font-weight: bold;
  color: #323232;
}

.twitter, .instagram, .facebook, .vkontakte {
  list-style: none;
}

.vkontakte img {
  border: 3px solid rgba(255,255,255,0.6);
  border-radius: 50%;
}
.twitter img {
  border: 3px solid rgba(255,255,255,0.6);
  border-radius: 50%;
}
.instagram img {
  border: 3px solid rgba(255,255,255,0.6);
  border-radius: 50%;
} 
.facebook img {
  border: 3px solid rgba(255,255,255,0.6);
  border-radius: 50%;
}

.corp-info-list {
  list-style: none; 
  text-decoration: underline solid rgba(255,255,255,0.6);
}

.corp-info-list .corp-info-provider {
  font-weight: bold;
}

.copyright .logo img {
  width: 110px;
  height: 40px;
}


.copyright .copyright a {
  text-decoration: underline solid rgba(255,255,255,0.6);
}

.copyright .copyright a:hover {
  text-decoration: underline solid rgba(226,180,154,0.6);
}